*{
    margin: 0;
    padding: 0;
}
h1{
    margin: auto;
    text-align: center;
    width: 100vw;
}
.container{
    display: flex;
    width:100vw;
    height:90vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: aqua;
}
.calc{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(5,1fr);
   width: 40vw;
   margin: auto;
   height: 80%vh;
   justify-content: center;
   row-gap: 5px;
   column-gap: 5px;
}
.in{
    grid-column: span 4;
    

}
input{
    width: 100%;
    height: 100%;
}
button{
    width: 100%;
    height: 100%;
}
button:hover{
    background-color: cornflowerblue;
}